/* Bibliotecas */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
}

footer {
    background-color: white;
}

footer p {
    color: black;
    font-family: Arial;

}

.guias {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    text-align: center;
    padding: 20px;

    font-family: 'Roboto';

    text-decoration: none;
    color: black;
    font-weight: bold;
}

.background_image {
    background-image: url('Imagens/background_shalltear.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    height: auto;
    width: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: cursive;
    color: white;

    height: 100vh;
}

h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Arial;
    color: white;
}

footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 30px;
    width: 100%;
    
    clear: both; /*garante q o rodape não vai subir*/
}

header {
    background-color: white;
    position: fixed;

    top: 0; /* cola em cima */
    width: 100%; 
    z-index: 1000; /*faz com q as guias figuem sempre em frente as imagens */
}

.image_portifolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: auto; /*100% da altura da tela do usuario*/
    width: 100%;

    padding: 10px;
}

.fotos_portifolio {
    max-width: 100%;
    max-height: 100%;

    object-fit: contain; /* esticamento de acordo com a tela */
}

.pai_imagem_lado {
    display: flex;
    align-items: center;
    gap: 30px;

    padding: 20px;

    max-width: auto;
    max-height: auto;
    margin: 50px;

}

.pai_imagem_lado p {

    flex: 1;
    
    text-align: left;
    line-height: 1.6;

}

.filho_image {
    width: auto;
    height: auto;
    flex-shrink: 0;
    
    object-fit: cover;
}

.foto_estudio {
    display: flex;
    align-items: center;
    justify-content: center;
    
}